cot {
    manifests {
        compatible = "arm, cert-descs";
        trusted_boot_fw_cert: trusted_boot_fw_cert {
        };

        tb_fw_config_hash: tb_fw_config_hash {
        };

        hw_config_hash: hw_config_hash {
        };

        fw_config_hash: fw_config_hash {
            
        };
    };
};

non_volatile_counters: non_volatile_counters {
	compatible = "arm, non-volatile-counter";

	#address-cells = <1>;
	#size-cells = <0>;

	trusted_nv_ctr: trusted_nv_ctr {
	};

	non_trusted_nv_ctr: non_trusted_nv_ctr {
	};
};